$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import 'login';
@import 'signup';

.brand {
  color: $texas-orange;
  font-size: 8px;
}

.box {
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
  position: relative;
}

.logo {
  float: left;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.form-control {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80% !important;
}

.box-footer {
  background-color: $light-gray;
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;
}

.box-header {
  border-bottom: 1px solid $light-gray;
  height: 50px;
  line-height: 25px;
  text-align: center;
  width: 100%;
}

.email-group {
  margin-top: 40px;
}

.input-group {
  margin-left: 40px;
}

.form-input {
  border: 1px solid $light-gray;
  border-radius: 5px;
  height: 40px;
  outline: none;
}

.user-nav {
  display: none;
}

.game-piece {
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  height: 177px;
  line-height: 177px;
  text-align: center;
}

.end-piece {
  border-right: 0;
}

#new-game-box {
  height: 250px;
}

.pieces {
  display: none;
}

.game-menu {
  line-height: 50vh;
  text-align: center;
}

.game-view {
  display: none;
}

.icon {
  margin-right: 5px;
}

#game-board {
  height: 650px;
  width: 100%;
}

#game-board .box-body {
  height: 530px;
}

#game-board .box-footer {
  color: $texas-orange;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

.game-board-piece {
  border-radius: 50%;
  filter: blur(.7px);
  height: 75px;
  width: 75px;
}

.message {
  color: red;
  left: 360px;
  position: relative;
  top: 10px;
}

.x-o {
  color: $white;
  font-size: 40px;
  left: 0;
  position: absolute;
  right: 0;
}

.user-icons {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.well {
  text-align: center;
}

.loader {
  animation: spin 2s linear infinite;
  border: 10px solid $white;
  border-radius: 50%;
  border-top: 10px solid $texas-orange;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 75px;
}

.new-game {
  align-items: center;
  background: transparent;
  border: 1px solid $texas-orange;
  border-radius: 4px;
  color: $texas-orange;
  display: flex;
  font-size: 24px;
  height: 70px;
  justify-content: center;
  outline: none;
  width: 100%;
}

#display-game-id {
  bottom: 40px;
  left: 300px;
  position: relative;
}

.join-game-form > .box-body {
  line-height: 60px;
  text-align: center;
}

.join-game-form > .box-footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.submit {
  background-color: $texas-orange;
  border: 0;
  color: $white;
  height: 30px;
  width: 90%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
