#signup-box {
  display: none;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#signup-box .box-footer {
  width: 500px;
}

#signup-box .form-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#signup-box .box-header h1 {
  color: gray;
  font-size: 20px;
  line-height: 50px;
  margin: 0;
}
